
<article class="col-md-8 col-md-offset-2 form-modal">

    <h2 class="modal-header">Dodaj artykuł</h2>

    {{ form(form, {'action': path('wiki_add_article')})  }}

    <i class="fa fa-close" data-dismiss="modal" aria-hidden="true"></i>
</article>




