{% extends "TmBundle:Page:profil.html.twig" %}

{% block bodyContent %}
    <ul class="col-sm-2 left-panel-profil">
        <li><a href="{{ path('settings_profil_tm') }}" id="btn-config"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
        <li><a href="{{ path('data_profil_tm', {'id': user.id }) }}" id="btn-data-set"><i class="fa fa-user" aria-hidden="true"></i></a></li>
        <li><a href="{{ path('theme_app_tm', {'id': user.id }) }}" id="btn-theme-change"><i class="fa fa-tint" aria-hidden="true"></i></a></li>
    </ul>
    <div class="col-sm-8">
        <div class="row content-page-profil">
            <div id="account-option" class="col-sm-12 loader-profil">
            </div>
        </div>
    </div>
    <div class="col-sm-2">
    </div>
{% endblock %}


