
{% extends "TmBundle:Template:wrapperArticle.html.twig" %}

{% block articleContent %}
    {% for entry in article %}
        <div class="flipper large">
            <div class="front card_face">
                <h2>{{ entry.title }}</h2>
            </div>
            <div class="back card_face">
                <p>{{ entry.content | md2html }}</p>
                <a href="{{ path('wiki_show_article', {'title': entry.title }) }}" data-toggle="modal" data-target="#showArticle" ><i class="fa fa-search-plus" aria-hidden="true"></i></a>
                <h4 class="autor-name">{{ entry.author.username }}</h4>
            </div>
        </div>
    {% endfor %}
{% endblock %}